body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

button {
  margin-top: 3rem;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  min-width: 8rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

button:disabled {
  background: lightgray;
  cursor: no-drop;
}